body * {
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

h3 {
  margin: 0 0 1rem;
}

#option-path,
.path,
.form-section {
  margin: 0.75rem;
  padding: 0.25rem;
}

.path,
.form-section {
  display: none;
}

.dataset {
  margin: 0.75rem 0;
}

.dataset > div {
  margin: 0.25rem;
}

select {
  margin-right: 0.4rem;
  padding: 0.2rem;
  border: 1px solid #ccc;
}

input {
  border: 1px solid #ccc
}

label {
  padding-left: 0.5rem;
}

.binding label {
  font-weight: 200;
}

button {
  padding: 0.25rem 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0px;
  color: #333;
}

button#submit {
  display: none;
}

#setting-selections {
  display: none;
}

#setting-area-controls button {
  font-weight: 800;
  border-radius: 50%;
}

#setting-area {
  display: flex;
  flex-direction: column;
  max-width: 200px;
}

#setting-area textarea {
  margin: 0.5rem 0;
}