body * {
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

#template-selections {
  display: flex;
}

#template-selections select {
  margin: 1rem 0.3rem;
  padding: 0.2rem 0.4rem;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.binding {
  font-weight: 200;
  margin: 0.5rem;
}

.binding label {
  padding-left: 0.5rem;
}